<div class="container">
  <footer class="footer">
  <small>
    GifHub by <%= link_to "Sue Lee",   'http://www.imstillhungry.com', :target => "_blank" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "News", 'https://twitter.com/its_sue', :target => "_blank" %></li>
      <li><%= mail_to "its.sue+gifhub@gmail.com", "Contact" %></li>
    </ul>
  </nav>
</footer>
</div>